.jbg-backdrop {
  position: fixed;
  top: 0;left: 0;right: 0;bottom: 0;
  z-index: 1000;
  background-color: hsla(240,8%,10%,1);
  opacity: 1;
}
.jbg-outer {
  * {
    box-sizing: border-box;
  }
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;left: 0;
  z-index: 1010;
  color: #fff;
  &.jbg-no-trans .jbg-prev-slide, &.jbg-no-trans .jbg-next-slide, &.jbg-no-trans .jbg-current{
    transition: none 0s ease 0s !important;
  }
  &.jbg-hide-ui {
    .jbg-toolbar, .jbg-actions, .jbg-container {
      opacity: 0 !important;
    }
  }
  .jbg-toolbar, .jbg-actions {
    opacity: 1;
    transition: opacity .3s ease;
  }
  .jbg {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    .jbg-toolbar {
      position: absolute;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      top: 0;
      left: 0;
      z-index: 1050;
      //background-color: hsla(0,12%,0%,.4);
      width: 100%;
    }
    .jbg-actions{
      position: fixed;
      top: 50%;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translate(0,-50%);
      .jbg-prev, .jbg-next {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        background-color: hsla(240,8%,5%,.7);
        padding: 1rem;
        color: #fff;
        margin: 0 1px;
        cursor: pointer;
        img {
          width: 3rem;
        }
      }
    }
    .jbg-inner {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      white-space: nowrap;
      .jbg-item {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .5;
        &.jbg-prev-slide, &.jbg-next-slide, &.jbg-current {
          display: inline-block !important;
          transition: transform .7s linear 0s, opacity 1s ease 0s;
        }
        &.jbg-prev-slide {
          transform: translate(-100%, 0);
        }
        &.jbg-next-slide {
          transform: translate(100%, 0);
          
        }
        .jbg-img-wrap {
          position: absolute;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 5px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          .jbg-image {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
            width: auto !important;
            height: auto !important;
          }
        }
      }
      .jbg-current {
        display: inline-block !important;
        opacity: 1;
        transform: translate(0, 0) !important;
      }
    }
    .jbg-close{

      font-size: 2em ;

    }
    .jbg-container {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      min-width: 300px;
      text-align: center;
      background-color: hsla(240,8%,5%,.7);
      color: #fff;
      letter-spacing: .2em;
      font-weight: 400;
      padding: 1rem;
      transition: transform .3s ease 0s, opacity .3s ease 0s;
      transform: translate(-50%, 0);
      &.jbg-empty-html {
        transform: translate(-50%, 100%);
      }
    }
  }
}
